/* respansive phone */
@media (max-width: 660px) {
  #header {
    height: auto;
    background-size: cover;
  }
  .header-box-text {
    width: 80%;
    margin-left: 10%;
  }
  .images1-image {
    width: 50%;
  }
  .main-galery :nth-child(3) {
    display: none;
  }
  #about > p {
    font-size: 14px;
  }
  .article-number-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .article-number-project .exprerience {
    padding: 20px;
  }
  /* #section > h5 {
    font-size: 20px;
  } */
  .section-logo {
    justify-content: center;
    flex-wrap: wrap;
  }
  .section-logo-l {
    width: 100%;
    height: 130px;
  }
  .tool {
    display: flex;
    flex-direction: column;
  }
  .tool1 {
    width: 100%;
  }
  .section-tool {
    width: 20%;
    height: 100px;
  }
  /* .contact-hr {
    width: 10%;
  } */
  /* #section-contact {
    height: 140vh;
  } */
  .boxs-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .logo-box {
    width: 50px;
  } */
}
